body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }